<div class="small-spacer"></div>
<h1 class="title display-1 text-center mt-4">Poems of Edgar Allan Poe</h1>
<div class="spacer"></div>



<div class="container">
  <div *ngFor="let post of posts | slice:0:3; let i = index" class="row justify-content-center aign-items-center my-4 text-center">
    
    <div aria-label="The author of the poem. Should be Edgar Allan Poe." class="border-rad-left col-4 p-2 display-5 mb-4 bg-black text-white">{{post.author}}</div>

    <div aria-label="The title of the poem." class="border-rad-right col-4 p-2 display-5 mb-4 bg-black text-white">{{post.title}}</div>

    <div aria-label="The poem's text." class="col-12 my-2 text-start lines">{{post.lines}}</div>
    <div class="col-4 bottom-strip my-4"></div>
    <div class="spacer"></div>
  </div>
</div>

<router-outlet />
